@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@*<div id="containers">

    <div class="frame">
        Container
        <div class="popup">
            Default Question Pool
            <ol>
            <li><div class="object">Consider the following hierarchy of functions that can be deﬁned from an asymptotic point of view</div> </li>
            <li><div class="object">How many LOTR movies are there?</div></li>
            <li><div class="object">What is 2+3?</div></li>
            <li><div class="object">Which of the following are dinosaurs?</div></li>
            <li><div class="object">Comment the effects on bonds price of a rise in interest rates</div></li>
            <li><div class="object">Who is buried inGrant's tomb in New York City?</div></li>
            <li><div class="object">The American holidayof Thanksgiving is celebrated on the __________ Thursday of November</div></li>
            <li><div class="object">Who lives at the North Pole?</div></li>
            </ol>
        </div>
    </div>

    <div class="frame">
        <div class="popup">
            Section 2 - random text...
            <ol>
            <li><div class="object">Define the following terms:</div></li>
            <li><div class="object">Time Complexity</div></li>
            <li><div class="object">Space Complexity</div></li>
            </ol>
        </div>
    </div>

</div>*@


<div id="containers">

    <div class="frame">
        @*Container*@
        <div class="popup">
            <strong>Default Question Pool</strong>
                <div class="object">Consider the following hierarchy of functions that can be deﬁned from an asymptotic point of view</div>
                <div class="object">How many LOTR movies are there?</div>
                <div class="object">What is 2+3?</div>
                <div class="object">Which of the following are dinosaurs?</div>
                <div class="object">Comment the effects on bonds price of a rise in interest rates</div>
                <div class="object">Who is buried in Grant's tomb in New York City?</div>
                <div class="object">The American holiday of Thanks giving is celebrated on the __________ Thursday of November</div>
                <div class="object">Who lives at the North Pole?</div>
        </div>
        @*<div class="object">This is a test element for debugging this nightmare.</div>*@
    </div>

    <div class="frame">
        @*Container*@
        <div class="popup">
            <strong>Section 2 - Answer any two questions</strong>
                <div class="object">Define the following terms:</div>
                <div class="object">Time Complexity</div>
                <div class="object">Space Complexity</div>
        </div>
    </div>

</div>