@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>












@*<div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Question Type</button>
    <div id="myDropdown" class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
        <a class="dropdown-item" href="#">Multiple Choice</a>
        <a class="dropdown-item" href="#">Fill in the Blank</a>
        <a class="dropdown-item" href="#">True or False</a>
        <a class="dropdown-item" href="#">Check All That Apply</a>
        <a class="dropdown-item" href="#">Essay Answer</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">New Case Study</a>
    </div>
</div>*@



