@model Quizard.ViewModels.CreateQuizViewModel


@Html.HiddenFor(x => x.Quiz.Id, new { id = "HiddenQuizId" })


<div class="flex-container">

    <div class="controls">
        <h4 class="quizName"> @Model.Quiz.QuizName </h4>

        <div class="input-group">
            <input type="text" class="input" id="AddSectionName" placeholder="Add Section" autocomplete="off">
            <input class="button--add" value="Add" type="submit" id="AddSectionBtn" onclick="AddSection()">
        </div>

        <input class="button--save" value="Save" type="submit" onclick="UpdateQuestions()">
        <input class="button--save" value="Dashboard" type="submit" onclick="location.href='@Url.Action("Index", "Dashboard")'">
        <input class="button--save" value="Delete Quiz" type="submit" onclick="delete()">

    </div>

    <div class="quiz-wrapper" id="partialZone">

        @{Html.RenderPartial("_Section");}

    </div>
</div>

