@model Quizard.ViewModels.CreateQuizViewModel

@*NEW JS SORTABLE ACCORDION*@

@Html.HiddenFor(x => x.Quiz.Id, new { id = "HiddenQuizId" })


<div class="flex-container">

    <div class="controls">
        @*<a class="btn btn-primary" href="@Url.Action("Update", "Quiz")">Save</a>*@

        <h4 class="quizName"> @Model.Quiz.QuizName </h4>

        <div class="input-group">
            <input type="text" class="input" id="AddSectionName" placeholder="Add Section" autocomplete="off">
            @*<input class="button--add" value="Add" type="submit">*@
            <input class="button--add" value="Add" type="submit" id="AddSectionBtn" onclick="AddSection()">
        </div>

        <input class="button--save" value="Save Quiz" type="submit">
        <input class="button--save" value="Dashboard" type="submit">
        <input class="button--save" value="Delete Quiz" type="submit">

    </div>


    <div class="quiz-wrapper" id="partialZone">
        @Html.Partial("_Section")
    </div>

</div>


@section Scripts {



    <script>
       // $('#partialZone').load("/Quiz/SectionPartialView")
    </script>



    <script>
        //"use strict";
        //$(document).ready(function() {
        //    $("#AddSectionBtn").click(function() {
        //        console.log('clicked')
        //        var name = document.getElementById("AddSectionName").value;
        //        var quizId = document.getElementById("HiddenQuizId").value;

        //        $.ajax({
        //            type: "POST",
        //            url: "Url.Action("AddSectionClick", "QuizController")",
        //            dataType: "json",
        //            data: { sectionName: name, quizId: quizId },
        //            success: function(result) {
        //                console.log(result);
        //            },
        //            error: function(req, status, error) {
        //                console.log(req, status, error)
        //            }
        //        });
        //    }
        // }
    </script>
}