

<h1> Upload your quiz! </h1>


<hr />

<div>
    <form asp-route="Quiz/Upload" enctype="multipart/form-data" method="POST">
        <input type="file" name="file" multiple/> 
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

@if(ViewBag.Message != null)
{
    <div class="alert" style="margin-top:20px">
        @ViewBag.Message
    </div>
}
