@using Quizard.ViewModels
@model RegisterViewModel


@{
    ViewData["Title"] = "Sign up";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>Sign up for a new account</h4>
        </p>

        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"] </span>
            </div>
        }


        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <br />

                    <div class="form-group">
                        <label asp-for="EmailAddress" class="control-label"></label>
                        <input asp-for="EmailAddress" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>

                    <br />

                    <div class="pw-instructions">
                        <p>Passwords must contain:</p>
                        <ol>
                            <li>Minimum 1 Uppercase Letter</li>
                            <li>Minimum 1 Number</li>
                            <li>Minimum 1 Special Character</li>
                            <li>Minimum 6 Characters Long</li>
                        </ol>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" autocomplete="off" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" autocomplete="off" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <br />


                    <div class="form-group">
                        <label asp-for="RoleSelected" class="col-md-2">* I'm a:</label>

                        <div class="radio-toggle-container">
                            <input class="radio-toggle-input" asp-for="RoleSelected"
                                   type="radio" id="option_1" value="teacher" checked />
                            <label class="radio-toggle-label" for="option_1" asp-for="RoleSelected">
                                Teacher
                            </label>

                            <input class="radio-toggle-input"asp-for="RoleSelected"
                                   type="radio" id="option_2" value="student" />
                            <label class="radio-toggle-label" for="option_2" asp-for="RoleSelected">
                                Student
                            </label>
                        </div>
                    </div>

                    <br />

                    <div class="form-group">
                        <input class="button-table" type="submit" value="Sign up" />
                        <button class="button-table" asp-controller="Home" asp-action="Index">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

