
h1,
h2,
h3 {
    margin-top: 0;
}

.flex-container {
    /*    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;*/

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
}

.quiz-wrapper {
    /*    order: 1;
    flex-basis: auto;
    flex: 3 3 auto;*/

    order: 1;
    flex: 3 0 auto;
    align-self: flex-start;
}

.controls {
    margin-top: 30px;
    background-color: rgb(217, 217, 245);
    border: solid 2px #5e4dcd;
    border-radius: 0.5rem;
    /*    order: 2;
    flex-basis: auto;
    flex: 1 1 auto;*/
    max-width: 400px;

    order: 2;
    flex: 1 1 auto;
    align-self: auto;
    padding: 20px;
}


.quiz-wrapper {
    /* background-color: blue; */
    padding: 20px;
    border-radius: 0.5rem;
}

/* ACORDION STYLING */

.accordion-section-item {
    border-left: 15px solid rgb(177, 178, 250);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0, 0.5);
}

.accordion-section-button {
    margin-bottom: 20px;
}

.accordion-section-item {
    background-color: rgb(217, 217, 245);
    padding: 20px;
    margin-top: 10px;
    border-radius: 0.5rem;
    padding-left: 60px;
}

.accordion-question-item {
     /*background-color: #fff;*/ 
    margin-bottom: 20px;
    border-radius: 0.5rem;
}

.accordion-question-button,
.accordion-section-button {
    border: none;
    background: transparent;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    cursor: pointer;
    display: block;
    /*width: 100%;*/
    text-align: left;
}

.accordion-question-body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    line-height: 1.4;
    border-bottom: 1px solid rgb(177, 178, 250, 70%);
    padding-bottom: 1rem;
    margin-top: 10px;
}

.accordion-question-body ol{
    list-style: none;
}

/* .accordion-question-item h2 {
  margin-bottom: 0;
} */
.accordion-question-item {
    margin-left: 20px;
    /*padding: 20px;*/
    border-radius: 0.5rem;
}

/* ACCORDION BEHAVIOUR  */

.accordion-question-button::after {
    /*content: "\002B";*/
    font-size: 1rem;
    position: absolute;
    /*right: 10rem;*/
    left: 25rem;
    transition: transform 300ms ease-in-out;
}

.accordion-question-button.open {
    font-weight: bold;
}

    .accordion-question-button.open::after {
        transform: rotate(180 deg);
    }

.accordion-question-button:focus,
.accordion-question-button:focus-visible {
    border: none;
    outline: dashed 1px rgb(177, 178, 250, 0.5);
}

.accordion-question-button.open {
}

.accordion-question-collapse {
    transition: height 300ms ease;
}

    .accordion-question-collapse.collapse {
        display: none;
    }

    .accordion-question-collapse.collapsing {
        height: 0;
        overflow: hidden;
    }

    .accordion-question-collapse.open {
        display: block;
    }

/* .accordion-section-collapse {
  transition: height 300ms ease;
}

.accordion-section-collapse.collapse {
  display: none;
}

.accordion-section-collapse.collapsing {
  height: 0;
  overflow: hidden;
}

.accordion-section-collapse.open {
  display: none;
} */

/* DRAG AND DROP */

.accordion-question-item.dragging {
    opacity: 0.5;
}

.accordion-section-item.dragging {
    opacity: 0.5;
}




/*QUIZ CONTROLS*/

.input-group {
    display: flex;
    align-items: center;
}

.input {
    min-height: 50px;
    max-width: 300px;
    padding: 0 1rem;
    color: black;
    font-size: 15px;
    border: 1px solid #5e4dcd;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
}

.button--add {
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #5e4dcd;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

    .button--add:hover {
        background-color: #5e5dcd;
    }

.input:focus, .input:focus-visible {
    outline: none;
}

.button--save {
    margin-top: 20px;
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 6px;
    background-color: #5e4dcd;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.button--save:hover {
    background-color: #5e5dcd;
}

.quizName{
    text-align:center;
    margin-bottom: 40px;
}